* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 80ch;
}

hr {
  margin-bottom: 2rem;
}

label {
  line-height: 2;
}

input, button {
  padding: .5em;
  font-size: 1.125rem;
}

#textDisplay {
  font-weight: 700;
}